<table>
      <tr>
        <th>Title</th>
        <td><%= b.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= b.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= b.text_field(:genre) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= b.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Dates Published</th>
        <td><%= b.text_field(:published_dates) %></td>
      </tr>
</table>